@import '../../colors/colors.scss';

.buttonWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  overflow: visible;
  vertical-align: middle;
  background-color: $primary-dark;
  margin: 2px;

  .startIcon,
  .endIcon {
    display: flex;
    align-items: center;
  }

  .startIcon {
    padding-right: 12px;
  }

  .endIcon {
    padding-left: 12px;
  }

  &.small {
    height: 32px;
    padding: 5px 10px;
  }
  &.medium {
    height: 32px;

    padding: 7px 12px;
  }
  &.large {
    height: 32px;
    padding: 10px 15px;
  }
}
