@import '../../colors/colors.scss';

.textField {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 10px 0 10px 0;

  /* colors */

  .primary {
    color: $primary;
    border-color: $primary;
  }

  .secondary {
    color: $secondary;
    border-color: $secondary;
  }

  .error {
    color: $error;
    border-color: $error;
  }
  .info {
    color: $info;
    border-color: $info;
  }
  .success {
    color: $success;
    border-color: $success;
  }
  .warning {
    color: $warning;
    border-color: $warning;
  }

  /* elements */

  input {
    padding: 10px;
    outline: none;

    &.hasStartIcon {
      padding-left: 32px;
    }
    &.hasEndIcon {
      padding-right: 32px;
    }
  }

  label {
    position: absolute;
    left: 5%;
    bottom: 43%;
    font-size: 16px;
    padding: 3px;
    background-color: inherit;
    color: inherit;
    transition: transform 0.2s ease-out, font-size 0.3s ease-out;
    border-radius: 4px;
    pointer-events: none;
  }

  &.active label:first-of-type,
  input:focus + label {
    transform: translate(0, (-2.5em)) scale(0.9, 0.9);
    font-size: 12px;
    color: inherit;
    border-color: inherit;
    outline: none;
  }

  input:not(:focus)::placeholder {
    color: transparent;
  }

  /* variants */

  .standard {
    border: none;
    padding-top: 10px;
    border-bottom: 1px solid;
    border-color: inherit;
    border-radius: 10px 10px 0 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .outlined {
    border: 1px solid;
    border-radius: 8px;
    border-color: inherit;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .filled {
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    border-color: inherit;
    background-color: rgba($color: #000000, $alpha: 0.09);
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  /* sizes */

  .small {
    padding: 7px 10px;
  }
  .medium {
    padding: 9px 13px;
  }

  /* icons */

  .startIcon {
    position: absolute;
    bottom: 43%;
    left: 5%;
  }

  .endIcon {
    position: absolute;
    bottom: 43%;
    right: 5%;
  }

  /* other */

  .start {
    left: 15%;
  }

  .flexRow {
    display: flex;
    justify-content: space-between;
  }
}
